body {
    background-color: #262626;
    color: white;
}

#titleContainer {
    text-align: center;
}

#title {
    width:250px;
}

canvas {
    cursor: crosshair;
}

.tools {
    height: 45px;
}

.tool-btn {
    border: 1px solid black;
}
